* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff url(../images/background.png) repeat-x;
}

#container {
    width: 750px;
    margin: 0 auto;

}

#top {
    height: 150px;
    background: url(../images/top-detail.png) no-repeat right top;
    padding-top: 25px;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../images/logo.png) no-repeat center;
    text-indent: -1000px;
}

/* NAVIGATION BAR */
a:link, a:visited {
    color: #b10333;
    padding: 2px;
}

a:hover {
    color: #e50040;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: none;
}

#top ul {
    margin-top: 30px;
    background: #b10333;
    float: left;
}

#top ul li {
    float: left;
}

#top ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
    background: url(../images/divider.png) no-repeat left center;
}

#top ul .first a {
    background: none;
}

/*  I CREATED A CLASS CALLED "FIRST" TO REMOVE THE DIVIDER BACKGROUND AS IT STARTED BEFORE THE TEXT IN THE NAVIBAR */
#top ul a:hover {
    color: #69001d;
}

body.home #navigation a#home,
body.brazil #navigation a#brazil,
body.international #navigation a#international,
body.photos #navigation a#photos {
    color: #fff;
    background: #de003e;
    cursor: text;
}

/*  SET UP CONTENT STYLE */

#content {
    background: #f5f5f5;
    margin-top: 60px;
}

#primary {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

#twoColumns #primary {
    width: 555px;
}

#oneColumn #primary {
    width: 750px;
    margin: 0 0 20px 0;
}

#secundary {
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}

#side {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

/*  SIDE MENU   */
.box {
    margin: 10px 0;
    padding: 5px;
    background: #f3f3f3 url(../images/box-bottom.png);
}

h2 {
    font-size: 1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
}

.box-contents {
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}

/*      FORMAT SIDE MENU    */
#side ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#side ul a:hover {
    color: #a1a1a1;
    padding-left: 20px;
    background: #f9f9f9 url(../images/marker.png) no-repeat left center;

}

/*      FORMAT FORM     */
label {
    display: block;
    cursor: pointer;
    margin: 5px;
}

input {
    font-size: 0.9em;
    padding: 5px;
    width: 125px;
    margin: 5px;
    background-color: #fff;
}

input.submit {
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
}

/*  FORMAT IMAGES */
img.image-main {
    width: 98%;
    border: 3px solid #dfdfdf;
}

/*  FORMAT HEADER   */
h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.highlight h3 {
    background: #b10333;
    color: #fff;
}

.interview h3 {
    background: #de003e;
}

/*  FORMAT NEWS LIST    */
#news-list li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 62px;
}

#news-list li a img {
    float: left;
    margin: 5px;
}

#news-list li a {
    text-decoration: none;
}

#news-list li a h3 {
    font-size: 0.8em;
    padding: 0;
    color: #3e7ab9;
}

#news-list li a p {
    font-size: 0.7em;
    color: #000;
}

#news-list li:hover {
    background: #eee;
    cursor: pointer;
}


/*  FOOTER  */
footer {
    clear: both;
    background: #294c71;
    padding: 20px;
}

#footer {
    width: 750px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}